{% extends "base.tmpl" %}
{% block content %}
  <div class="grid-wrapper">
    <div class="width-12-12 width-12-12-m">
      <div class="page-title">
        <h2>Oops!</h2>
        <p>Ansible documentation does not contain that page.</p>
        <img src="images/cow.png"
             alt="Cowsay 404"
             width=""
             height="" />
      </div>
    </div>
  </div>
{% endblock content %}
